html 
{
	height: 100%; margin-bottom: 1px;
}

body
{
	background-position: 100px 10px;
	font-family: Verdana, Helvetica, Arial, Sans-Serif;
	font-size: 88%;
	background-color: #FFFFEE;
	background-image: url("images/kmheader.png");
	padding-top: 88px;
	padding-left: 100px;
	line-height: 1.8em;
	width: 760px;
	background-repeat: no-repeat;
}

h1
{
	letter-spacing: 0.3em ;
}

li
{
	margin-bottom: 0.2em ;
    padding-left: 25px;
    list-style-type: none ;
    background: transparent url(images/chevron.gif) no-repeat;
    background-position:0 8px;
}

#showanswerstext
{
	display: inline ;
}
	
#hideanswerstext
{
	display: none ;
}




.showanswer
{
	border-style: solid none solid none;
	border-width: 1px;
	border-color: #000000;
	display: block;
	font-style: italic;
	font-size: 90%;
	margin-bottom: 10px ;
	line-height: 1.5em ;
}

.hideanswer
{
	display: none;
}

