h3.question
{
	padding-top: 20px ;
	padding-bottom: 5px ;
	margin-bottom: 5px ;
	border-bottom: 1px solid #d3d3d3;
}

.sublist li
{
	margin-bottom: 0.2em;
	padding-left: 25px;
	list-style-type: none;
	background: transparent url("../images/chevron.gif") no-repeat;
	background-position: 0 8px;
}

#contents
{
	border-bottom: 1px solid #bbbbbb;
	padding-bottom: 10px ;
}

#faqhead
{
	display: none ;
}

