@import "../css/keymapper.css";

/* Colours

Gray: #d3d3d3
Red: #A44
Anchors: #06c;

 */

#category-editor, .loginform, #comment-editor
{
	width: auto;
	padding: 1em 0;
}

/* Firefox 2 doesn't support inline-block */

#category-editor label, #comment-editor label, .loginform label
{
	width: 5em;
	margin-right: 0.5em;
	display: inline-block;
	display: -moz-inline-box;
}

.input_textbox
{
	border-color: #d3d3d3;
}

#category-editor li, #comment-editor li
{
	padding: 5px 0;
}

.admintable tr
{
	margin-top: 3em;
	text-align: left;
}

.admintable th
{
	border-top: 2px solid #d3d3d3;
	border-bottom: 2px solid #d3d3d3;
}

.admintable tr a:hover
{
	color: Blue;
}

.admintable td
{
	padding: 0.5em 0 ;
	border-bottom: 1px solid #d3d3d3;
}

a
{
	color: #06c;
}

#post_timestamp, #editarea, #controls
{
}

.post
{
	margin-bottom: 2em;
	border: 1px solid #d4d4d4;
}

.post li
{
	list-style-type: disc;
	padding-left: 10px;
	padding-bottom: 3px;
	list-style-position: inside;
}


#edit_categories
{
	float: right;
	width: 19%;
	border: 1px solid #d3d3d3;
}


#blogpost
{
	width: 80%;
}

.dateerrortext
{
	color: Red;
	clear: both;
}

/* Main page */

#posts
{
	float: left;
	width: 80%;
	margin-top: 20px;
}

#sidebar
{
	float: right;
	width: 19.5%;
	margin-top: 20px;
}

.subheader
{
	background-color: #d3d3d3;
	font-size: 115%;
	position: relative;
	padding-left: 5px;
}

.sidebarcontent
{
	margin-bottom: 2em;
	border: 1px solid #d3d3d3;
}

.sidebarcontent a, .nonanchorsidebarcontent
{
	margin: 1px 0;
	display: block;
	padding-left: 10px;
}

.sidebarcontent a:hover
{
	color: Blue;
	background-color: #d3d3d3;
}

.postfooter
{
	position: relative;
	background-color: #d3d3d3;
	font-size: 105%;
	padding-left: 5px;
}

.posttitle
{
}

.posttitle a
{
	text-decoration: none;
	color: Black;
	padding-left: 5px;
}

.posttitle a:hover
{
	color: #06c;
	text-decoration: none;
}


.postdate
{
	position: absolute;
	right: 10px;
	top: 0;
}

div.comment
{
	border-top: 1px solid black;
	border-left: 5px solid #A44;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	padding: 20px;
	margin-bottom: 10px;
	position: relative;
}

.commentslink
{
	position: absolute;
	right: 10px;
}

.commenthead
{
	border: 2px solid #d3d3d3;
	margin-bottom: 10px;
}

.commenter
{
	position: relative;
	left: 10px;
}

.commentbody
{
	background-color: #FFEEFF;
}

.comment_text
{
	width: 50%;
	height: 100px;
}

.commentposted
{
	float: right;
	margin-right: 10px;
}

.postbody
{
	padding: 20px;
	position: relative;
}


blockquote
{
	width: 80%;
	margin: 0 auto;
	border: 1px solid black;
	border-left: 5px solid #A44;
	padding: 10px;
	margin: 10px 0;
}


code
{
	font-family: Monaco, "Lucida Console" , "Courier New" , Courier, monospace;
	background-color: #EEE;
}

samp
{
	font-family: Monaco, "Lucida Console" , "Courier New" , Courier, monospace;
}

