@import "http://justkeepswimming.net/keymapper/css/keymapper.css";

/* Colours

Gray: #d3d3d3
Red: #A44
Anchors: #06c;

 */

#newcategory
{
	border: 1px solid #d3d3d3;
	width: 40em;
	margin-top: 3em;
	padding: 1em 2px;
}

#newcategory legend
{
	background: #d3d3d3;
	padding: 2px 6px;
	margin-top: -2em;
	margin-left: -3px;
}

#newcategory label
{
	width: 4em;
	margin-right: 0.5em;
}

#newcategory input
{
	border-color: #d3d3d3 ;
	border-style: solid ;
}



#adminposts, #admincategories
{
	margin-top: 1em;
	border-top: 3px solid #d3d3d3;
}

#adminposts tr, #admincategories tr
{
	text-align: left;
}

a
{
	color: #06c;
}




.clearfloats
{
	clear: both;
}

#post, #post_timestamp, #editarea, #controls
{
}

.post
{
	margin-bottom: 2em;
	border: 1px solid #d4d4d4;
}

#edit_categories
{
	float: right;
	width: 19%;
	border: 1px solid #d3d3d3;
}


#blogpost
{
	width: 80%;
}

.dateerrortext
{
	color: Red;
	clear: both;
}

/* Main page */

#posts
{
	float: left;
	width: 80%;
}

#posts li
{
	list-style-type: disc;
	padding-left: 10px;
	padding-bottom: 3px;
	list-style-position: inside;
}

div.comment
{
	border-top: 1px solid black;
	border-left: 5px solid #A44;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	padding: 20px;
	margin-bottom: 10px;
	position: relative;
}


#sidebar
{
	float: right;
	width: 19.5%;
}


.subheader
{
	background-color: #d3d3d3;
	font-size: 115%;
	position: relative;
	padding-left: 5px;
}

.sidebarcontent
{
	margin-bottom: 2em;
	border: 1px solid #d3d3d3;
	padding-left: 10px;
}


.postfooter
{
	position: relative;
	background-color: #d3d3d3;
	font-size: 105%;
	padding-left: 5px;
}

.posttitle
{
}

.posttitle a
{
	text-decoration: none;
	color: Black;
	padding-left: 5px;
}

.posttitle a:hover
{
	color: #06c;
	text-decoration: none;
}


.postdate
{
	position: absolute;
	right: 10px;
	top: 0;
}

.commentslink
{
	position: absolute;
	right: 10px;
}

.commenthead
{
	border: 2px solid #d3d3d3;
	margin-bottom: 10px;
}

.commenter
{
	position: relative;
	left: 10px;
}

.commentbody
{
	background-color: White;
}

.comment_text
{
	width: 50%;
	height: 100px;
}

.postbody
{
	padding: 20px;
	position: relative;
}


blockquote
{
	width: 80%;
	margin: 0 auto;
	border: 1px solid black;
	border-left: 5px solid #A44;
	padding: 10px;
	margin: 10px 0;
}


code
{
	font-family: Monaco, "Lucida Console" , "Courier New" , Courier, monospace;
	background-color: #EEE;
}



