<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KeyMapper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <KeyMapper.Properties.Settings>
            <setting name="KeyboardFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="KeyboardFormHasNumberPad" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UserHasSavedSettings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KeyboardFormWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ColourListFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="KeyboardFormColourMapFormOpen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MappingListFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="KeyboardFormHasMacKeyboard" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KeyboardFormHasMappingListFormOpen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EditMappingFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MappingListFormWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ColourEditorLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="LastMappingsFilter" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShowHelpFormAtAtStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HelpFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="HelpFormOpen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ColourMapShowAllButtons" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
        </KeyMapper.Properties.Settings>
    </userSettings>
</configuration>