@import "http://justkeepswimming.net/keymapper/keymapper.css" ;


#post {}


#blog
{
	border: 1px solid silver ;
}

/* #maindiv
{
	position: absolute;
	width: 800px;
	left: 50%;
	margin-left: -400px;
} 

#posts
{
	padding: 20px;
	float: left;
	width: 600px;
}


#sidebar
{
	padding-top: 20px;
	float: right;
	width: 120px;
}
*/
.subheader
{
	background-color: #d3d3d3;
	font-size: 130%;
	position: relative;
}

.postfooter
{
	position: relative;
	background-color: #d3d3d3;
	font-size: 115%;
}

.posttitle
{
}

.posttitle a
{
	text-decoration: none;
	color: Black;
}

.posttitle a:hover
{
	color: #06c;
	text-decoration: none;
}


.postdate
{
	position: absolute;
	right: 30px;
	top: 0;
}

.postbody
{
	margin: 20px;
	position: relative;
}

.creator
{
	position: absolute;
	left: 10px;
	top: 0;
}

.tags
{
	position: absolute;
	right: 30px;
	top: 0;
}
