@import "http://justkeepswimming.net/keymapper/css/keymapper.css";

#post
{
}

.errortext
{
	color: Red ;
}


a.buttonlink
{
	height: 2em;
	line-height: 2em;
	width: 6.5em ;
	border: 1px solid black;
	color: #000;
	text-decoration: none;
	text-align: center;
	background-color: rgb(235, 235, 235);
	display: block;
}


a.buttonlink:hover
{
	color: #111;
	background-color: rgb(220, 220, 220);
	color: Blue;
}




#posts
{
	float: left;
	width: 80%;
}

#posts li
{
	list-style-type: disc;
	padding-left: 10px;
	padding-bottom: 3px;
	list-style-position: inside;
}

div.comment
{
	border-top: 1px solid black;
	border-left: 5px solid #A44;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	padding: 20px;
}


#sidebar
{
	float: right;
	width: 19.5%;
	border-left: 1px solid #d3d3d3;
	border-right: 1px solid #d3d3d3;
	border-bottom: 1px solid #d3d3d3;
	border-top: 1px solid #d3d3d3;
}

#sidebar ul
{
	padding: 20px 0;
}

#sidebar a
{
	padding-left: 10px;
}

.subheader
{
	background-color: #d3d3d3;
	font-size: 115%;
	position: relative;
	padding-left: 5px;
}

.postfooter
{
	position: relative;
	background-color: #d3d3d3;
	font-size: 115%;
	padding-left: 5px;
}

.posttitle
{
}

.posttitle a
{
	text-decoration: none;
	color: Black;
	padding-left: 5px;
}

.posttitle a:hover
{
	color: #06c;
	text-decoration: none;
}


.postdate
{
	position: absolute;
	right: 10px;
	top: 0;
}

.commentslink
{
	position: absolute;
	right: 10px;
}

.commenthead
{
	display: block;
	background-color: #abc;
	border: 1px solid silver;
}

.commenter
{
	left: 10px;
}

.commenturl
{
	right: 10px;
}

.commentbody
{
	background-color: White;
	display: block;
}



.postbody
{
	padding: 20px;
	position: relative;
	border: 1px solid #d3d3d3;
}


blockquote
{
	width: 80%;
	margin: 0 auto;
	border: 1px solid black;
	border-left: 5px solid #A44;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}


code
{
	font-family: Monaco, "Lucida Console" , "Courier New" , Courier, monospace;
	background-color: #DDD;
}



