@import "http://justkeepswimming.net/keymapper/css/keymapper.css";

#post, #blog, #maindiv
{
}

#posts
{
	float: left;
	width: 80%;
}

#posts li
{
	list-style-type: disc ;
	padding-left: 10px ;
	padding-bottom: 3px ;
	list-style-position: inside ;
	
}


body
{
	margin:0 auto ;
	width: 80% ;
	padding-left: 10% ;
	padding-right: 10% ;
}


#sidebar
{
	float: right;
	width: 19%;
	border-left: 1px solid #d3d3d3;
	border-right: 1px solid #d3d3d3;
	border-bottom: 1px solid #d3d3d3;
	border-top: 1px solid #d3d3d3;
}

#sidebar ul
{
	padding-top: 20px;
}

#sidebar a
{
	padding-left: 10px;
}

.subheader
{
	background-color: #d3d3d3;
	font-size: 130%;
	position: relative;
}

.postfooter
{
	position: relative;
	background-color: #d3d3d3;
	font-size: 115%;
}

.posttitle
{
}

.posttitle a
{
	text-decoration: none;
	color: Black;
}

.posttitle a:hover
{
	color: #06c;
	text-decoration: none;
}


.postdate
{
	position: absolute;
	right: 10px;
	top: 0;
}

.comments
{
	position: absolute;
	right: 10px;
}


.postbody
{
	padding: 20px;
	position: relative;
	border: 1px solid #d3d3d3;
}


blockquote
{
	width: 80%;
	margin: 0 auto;
	border: 1px solid black;
	border-left: 5px solid #A44;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}


code
{
	font-family: Monaco, "Lucida Console", "Courier New" , Courier, monospace;
	background-color: #DDD;
	color: #444;
}

#footer
{
	width: 80% ;
	margin-top: 50px ;
	float: left ;
	border: 1px solid #d3d3d3;
	background-color: #eeeeee;
	text-align:center ;
}

