@import "cssreset.css" ;
@import "http://justkeepswimming.net/keymapper/keymapper.css" ;

#post, #blog, #maindiv {}

#posts
{
	float: left;
	width: 600px;
}

#sidebar
{
	float: right;
	width: 120px;
}

.subheader
{
	background-color: #d3d3d3;
	font-size: 130%;
	position: relative;
}

.postfooter
{
	position: relative;
	background-color: #d3d3d3;
	font-size: 115%;
}

.posttitle
{ }

.posttitle a
{
	text-decoration: none;
	color: Black;
}

.posttitle a:hover
{
	color: #06c;
	text-decoration: none;
}


.postdate
{
	position: absolute;
	right: 10px;
	top: 0;
}

.comments
{
	position: absolute;
	right: 10px ;
}


.postbody
{
	padding: 20px;
	position: relative;
	border: 1px solid #d3d3d3 ;
}


