@import "cssreset.css";

html
{
	height: 100%;
	margin-bottom: 1px;
}

body
{
	background-position: 100px 10px;
	background-color: #FFF1FF;
	background-image: url('../images/kmheader800w.png' );
	background-repeat: no-repeat;
	width: 80%;
	padding-left: 100px;
	padding-right: 10%;
	padding-top: 100px;
	line-height: 1.8em;
	font-size: 87%;
	font-family: Trebuchet MS, Verdana, Helvetica, Arial, sans-serif;
}

#showhidetocanchor
{
	text-decoration: underline;
	cursor: pointer;
	cursor: hand;
}

.header
{
	margin-top: -5px;
	font-size: 200%;
	line-height: 3em;
	letter-spacing: 0.3em;
	font-variant: small-caps;
	text-align: left;
}

.clearfloats
{
	clear: both;
}


h3
{
	font-size: 120%;
	letter-spacing: 0.1em;
}

h4
{
	font-size: 120%;
}
#topdivouter, #topdivoutersmall, #topdivoutertiny
{
	border: 0.1em solid #d3d3d3;
	padding: 0.2em;
	margin-bottom: 20px;
	background-color: rgb(235,235,235);
	float: left;
}


#topdivinner
{
	border: 0.1em solid #A44;
	padding: 0 0.4em 0 0.2em;
	background-color: #aaa;
}


.topnav
{
	margin: 0 -0.15em;
}


.topnav li
{
	float: left;
	list-style-type: none;
	cursor: default;
	display: inline;
	background: none;
}

.topnav li a
{
	height: 2em;
	line-height: 2em;
	width: 6.5em;
	border: 1px solid #a44;
	color: #06c;
	text-decoration: none;
	text-align: center;
	background-color: rgb(235, 235, 235);
	display: block;
	margin: 0.2em 0 0.2em 0.2em;
}



.topnav a:hover, topnav a:visited
{
	background-color: rgb(220, 220, 220);
	color: blue;
	border: 1px solid #06c;
}

#subheader
{
	margin-bottom: 1em;
}

ul.basiclist
{
	list-style-type: disc;
}

ul.basiclist li
{
	list-style-position: inside;
	margin: 0.1em 0;
}



#header a, header a:visited, header a:hover
{
	text-decoration: none;
	color: Black;
}

#footer
{
	width: 100%;
	margin-top: 50px;
	float: left;
	border: 1px solid #d3d3d3;
	background-color: #eeeeee;
	text-align: center;
}

